name = "cdn"
main = "src/index.ts"
compatibility_date = "2023-03-07"
send_metrics = false

account_id = "725a63dc4b6475018e61b5122fe962cb"
workers_dev = false

routes = [
    "cdn.invaild.me/*"
]

[[kv_namespaces]]
binding = "CDN_USERS"
id = "acba5820fa4c49ee928e928974643c72"
preview_id = "acba5820fa4c49ee928e928974643c72"

[[r2_buckets]]
binding = "CDN_BUCKET"
bucket_name = "cdn"
preview_bucket_name = "cdn"

[vars]
REDIRECT_URL = "https://seren.dev"
